# Database (NeonDB)
DATABASE_URL="postgresql://neondb_owner:SUA_SENHA_AQUI@ep-soft-glitter-b7lc9z4a-pooler.c-13.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Last.fm API
LASTFM_API_KEY="SUA_LASTFM_API_KEY_AQUI"
LASTFM_SHARED_SECRET="SEU_LASTFM_SHARED_SECRET_AQUI"

# Spotify API
SPOTIFY_CLIENT_ID="SEU_SPOTIFY_CLIENT_ID_AQUI"
SPOTIFY_CLIENT_SECRET="SEU_SPOTIFY_CLIENT_SECRET_AQUI"
SPOTIFY_REDIRECT_URI="http://localhost:3000/callback"