# Database (NeonDB)
DATABASE_URL="postgresql://USUARIO:SENHA@HOST/NOME_DO_BANCO?sslmode=require"

# Last.fm API
LASTFM_USERNAME="SEU_LASTFM_USERNAME_AQUI"
LASTFM_API_KEY="SUA_LASTFM_API_KEY_AQUI"

# Spotify API
SPOTIFY_CLIENT_ID="SEU_SPOTIFY_CLIENT_ID_AQUI"
SPOTIFY_CLIENT_SECRET="SEU_SPOTIFY_CLIENT_SECRET_AQUI"
#SPOTIFY_REDIRECT_URI="http://localhost:3000/callback"
# O redirect URI não é necessário para o funcionamento do projeto, 
# mas é necessário para a autenticação do Spotify. 
# Se você quiser usar a autenticação do Spotify, você precisará configurar o redirect URI no seu aplicativo do Spotify e descomentar a linha acima.