# Database (NeonDB)
DATABASE_URL="postgresql://USUARIO:SENHA@HOST/NOME_DO_BANCO?sslmode=require"

# Last.fm API
LASTFM_USERNAME="SEU_LASTFM_USERNAME_AQUI"
LASTFM_API_KEY="SUA_LASTFM_API_KEY_AQUI"
LASTFM_SHARED_SECRET="SEU_LASTFM_SHARED_SECRET_AQUI"

# Spotify API
SPOTIFY_CLIENT_ID="SEU_SPOTIFY_CLIENT_ID_AQUI"
SPOTIFY_CLIENT_SECRET="SEU_SPOTIFY_CLIENT_SECRET_AQUI"
SPOTIFY_REDIRECT_URI="http://localhost:3000/callback"